# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_ERGOTRAVEL_LEFT
	def_bool $(shields_list_contains,ergotravel_left)

config SHIELD_ERGOTRAVEL_RIGHT
	def_bool $(shields_list_contains,ergotravel_right)
